<form ngDefaultControl [formControl]="segment">
  <label for="segment">Segment: </label>
  <input id="segment" type="text" [formControl]="segment">
  <button (click)="getFileSegment($event)">Get Segment</button>
</form>

<form ngDefaultControl [formControl]="country">
  <label for="country">Country: </label>
  <input id="country" type="text" [formControl]="country">
  <button (click)="getFileCountry($event)">Get Country</button>
</form>

<form ngDefaultControl [formControl]="product">
  <label for="product">Product: </label>
  <input id="product" type="text" [formControl]="product">
  <button (click)="getFileProduct($event)">Get Product</button>
</form>

<form [formGroup]="newProduct">
  <label for="segmentAdd">Segment: : </label>
  <input id="segmentAdd" type="text" formControlName="segment">
  <label for="countryAdd">Country: </label>
  <input id="countryAdd" type="text" formControlName="country">
  <label for="productAdd">First Name: </label>
  <input id="productAdd" type="text" formControlName="product">
  <label for="unitSoldAdd">Last Name: </label>
  <input id="unitSoldAdd" type="text" formControlName="unitSold">
  <button [disabled]="newProduct.invalid" (click)="addNewData($event)">Add new data</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Segment</th>
      <th scope="col">Product</th>
      <th scope="col">Country</th>
      <th scope="col">Unit sold</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dataContent | paginate: {id: 'listing_pagination',
  itemsPerPage: 10,
  currentPage: page,
  totalItems: totalRecords}, let i = index" [attr.data-index]="i">
    <td>{{ data['segment']}}</td>
    <td>{{ data['product']}}</td>
    <td>{{ data['country']}}</td>
    <td>{{ data['unitSold']}}</td>
    <td><button class="btn btn-danger" (click)="onRemove($event, i)">X</button></td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
</div>
